@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/open-sans/300/opensans-300.eot');
    src: url('../fonts/open-sans/300/opensans-300.eot?#iefix') format('embedded-opentype'),
    url('../fonts/open-sans/300/opensans-300.woff2') format('woff2'),
    url('../fonts/open-sans/300/opensans-300.woff') format('woff'),
    url('../fonts/open-sans/300/opensans-300.ttf') format('truetype'),
    url('../fonts/open-sans/300/opensans-300.svg#OpenSans') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/open-sans/300-italic/opensans-300-italic.eot');
    src: url('../fonts/open-sans/300-italic/opensans-300-italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/open-sans/300-italic/opensans-300-italic.woff2') format('woff2'),
    url('../fonts/open-sans/300-italic/opensans-300-italic.woff') format('woff'),
    url('../fonts/open-sans/300-italic/opensans-300-italic.ttf') format('truetype'),
    url('../fonts/open-sans/300-italic/opensans-300-italic.svg#OpenSans') format('svg');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/open-sans/400/opensans-400.eot');
    src: url('../fonts/open-sans/400/opensans-400.eot?#iefix') format('embedded-opentype'),
    url('../fonts/open-sans/400/opensans-400.woff2') format('woff2'),
    url('../fonts/open-sans/400/opensans-400.woff') format('woff'),
    url('../fonts/open-sans/400/opensans-400.ttf') format('truetype'),
    url('../fonts/open-sans/400/opensans-400.svg#OpenSans') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/open-sans/400-italic/opensans-400-italic.eot');
    src: url('../fonts/open-sans/400-italic/opensans-400-italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/open-sans/400-italic/opensans-400-italic.woff2') format('woff2'),
    url('../fonts/open-sans/400-italic/opensans-400-italic.woff') format('woff'),
    url('../fonts/open-sans/400-italic/opensans-400-italic.ttf') format('truetype'),
    url('../fonts/open-sans/400-italic/opensans-400-italic.svg#OpenSans') format('svg');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/open-sans/600/opensans-600.eot');
    src: url('../fonts/open-sans/600/opensans-600.eot?#iefix') format('embedded-opentype'),
    url('../fonts/open-sans/600/opensans-600.woff2') format('woff2'),
    url('../fonts/open-sans/600/opensans-600.woff') format('woff'),
    url('../fonts/open-sans/600/opensans-600.ttf') format('truetype'),
    url('../fonts/open-sans/600/opensans-600.svg#OpenSans') format('svg');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/open-sans/600-italic/opensans-600-italic.eot');
    src: url('../fonts/open-sans/600-italic/opensans-600-italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/open-sans/600-italic/opensans-600-italic.woff2') format('woff2'),
    url('../fonts/open-sans/600-italic/opensans-600-italic.woff') format('woff'),
    url('../fonts/open-sans/600-italic/opensans-600-italic.ttf') format('truetype'),
    url('../fonts/open-sans/600-italic/opensans-600-italic.svg#OpenSans') format('svg');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/open-sans/700/opensans-700.eot');
    src: url('../fonts/open-sans/700/opensans-700.eot?#iefix') format('embedded-opentype'),
    url('../fonts/open-sans/700/opensans-700.woff2') format('woff2'),
    url('../fonts/open-sans/700/opensans-700.woff') format('woff'),
    url('../fonts/open-sans/700/opensans-700.ttf') format('truetype'),
    url('../fonts/open-sans/700/opensans-700.svg#OpenSans') format('svg');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/open-sans/700-italic/opensans-700-italic.eot');
    src: url('../fonts/open-sans/700-italic/opensans-700-italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/open-sans/700-italic/opensans-700-italic.woff2') format('woff2'),
    url('../fonts/open-sans/700-italic/opensans-700-italic.woff') format('woff'),
    url('../fonts/open-sans/700-italic/opensans-700-italic.ttf') format('truetype'),
    url('../fonts/open-sans/700-italic/opensans-700-italic.svg#OpenSans') format('svg');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/open-sans/800/opensans-800.eot');
    src: url('../fonts/open-sans/800/opensans-800.eot?#iefix') format('embedded-opentype'),
    url('../fonts/open-sans/800/opensans-800.woff2') format('woff2'),
    url('../fonts/open-sans/800/opensans-800.woff') format('woff'),
    url('../fonts/open-sans/800/opensans-800.ttf') format('truetype'),
    url('../fonts/open-sans/800/opensans-800.svg#OpenSans') format('svg');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/open-sans/800-italic/opensans-800-italic.eot');
    src: url('../fonts/open-sans/800-italic/opensans-800-italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/open-sans/800-italic/opensans-800-italic.woff2') format('woff2'),
    url('../fonts/open-sans/800-italic/opensans-800-italic.woff') format('woff'),
    url('../fonts/open-sans/800-italic/opensans-800-italic.ttf') format('truetype'),
    url('../fonts/open-sans/800-italic/opensans-800-italic.svg#OpenSans') format('svg');
    font-weight: 800;
    font-style: italic;
}

*{
    box-sizing: border-box
}
body {
    margin: 0;
    font-family: OpenSans, sans-serif;
}
.clearfix {
    overflow: auto;
}
.container {
    display: block;
    width:1024px;
    margin: 0 auto;
}
.header {
    height: 60px;
    overflow: hidden;
}
.header-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 3;
}
.header-logo {
    float: left;
    display: block;
}
.header-logo > img {
    width: 150px;
    padding: 8px 0;
}
ul.header-nav {
    float: right;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
ul.header-nav > li {
    display: inline-block;
}
ul.header-nav > li:last-of-type a {
    background-color: #2fca2d;
    border-radius: 50px;
    padding: 11px 30px;
    color: #fff;
}
ul.header-nav >li:last-of-type:hover{
    background-color: #46484a;
}
ul.header-nav > li > a {
    display: inline-block;
    padding: 19px 10px;
    color: #8f969d;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
}
ul.header-nav > li > a:hover {
    color: lightgray;
    border-radius: 40px;
}
.product {
    padding-top: 60px;
    position: relative;
    background: url(../img/header-background.jpg) center no-repeat;
    height: 1000px;
    text-align: center;
}
    .product-title {
        color: #374848;
        font-size: 79px;
        padding-top: 80px;

}
        .product-discription {
            color: #8a9095;
            font-size: 27px;
            line-height: 1.5em;
            padding: 0 130px;
}
            .product-cta {
                background-color: #2fca2d;
                color: #fff;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 27px;
                padding: 20px 30px;
                border-radius: 40px;
                }
            .product-cta:hover {
                background-color: #374038;
                            }
                .product-image {
                    position: absolute;
                    bottom: 41px;
                    left: 44%;
                    margin-left: 0 0 0 calc( -290px / 2);
                    width: 290px;
                    height: 328px;
}

.section {
    width: 100%;
    background-color: #fff;
    padding: 60px 0;
}
.section .section-dark {
    background-color: #8f969d;
}
.section .section-title {
    font-size: 48px;
    line-height: 29px;
    text-transform: uppercase;
    color: #374848;
    text-align: center;
}
.section .section-discription {
    position: relative;
    font-size: 20px;
    color: #6969a3;
    line-height: 32px;
    text-align: center;
    width: 700px;
    margin: 0 auto 60px auto;
    padding-bottom: 60px;
}
.section .section-discription::after {
    content: "";
    width: 80px;
    height: 7px;
    position: absolute;
    bottom: calc(30px - 4px/2);
    left: calc(50% - (80px/2));
    background-color: #eee ;
}
.product-section {

}
.product-section .product-section-wath {
    background: url("../img/apple-watch-2.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 347px;
    height: 499px;
    margin: 0 auto;
    position: relative;
}
.product-section .product-section-wath > .wath-tip {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    padding: 5px;
    background-color: #84c4ec;
    border-radius: 50%;
    color: #fff;
    text-align: center;
}
.product-section .product-section-wath > .wath-tip:hover::before {
    content: "";
    position: absolute;
    top: -7px;
    left: -7px;
    width: 40px;
    height: 40px;
    border: 3px solid #84c4ec;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
}
.product-section .product-section-wath > .wath-tip:nth-child(1){
    top: 40px;
    right: 18px;
    left: initial;
}
.product-section .product-section-wath > .wath-tip:nth-child(2){
    top: 140px;
    left: -10px;
}
.product-section .product-section-wath > .wath-tip:nth-child(3){
    top: 250px;
    left: 225px;
}
.product-section .product-section-wath > .wath-tip:nth-child(4){
    top: initial;
    bottom: 90px;
    left: 5px;
}
.hiw-section {

}
.hiw-steps {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.hiw-steps > .hiw-step {
    position: relative;
    float: left;
    width: 33.33%;
    padding: 0 20px;
    }
.hiw-steps > .hiw-step > .hiw-step-image {
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}
.hiw-steps > .hiw-step > .hiw-step-title {
    color: #374048;
    font-size: 26px;
    margin-bottom: 10px;
}
.hiw-steps > .hiw-step > .hiw-step-discription {
    color: #737c85;
    font-size: 16px;
    line-height: 26px;
}
/*.hiw-steps > .hiw-step:not(:nth-child(3))::after {
    content: ">";
    position: absolute;
    right: 0;
    top: 50%;
    }*/
.hiw-steps >.hiw-step > .hiw-step-arrow {
    display: block;
    position: absolute;
    top: 30px;
    right: -5px;
    width: 20px;
    height: 20px;
    border-top: 1px solid #374848;
    border-right: 1px solid #374848;
    transform: rotate(45deg);
}
.hiw-steps >.hiw-step > .hiw-step-arrow::before {
}
.hiw-steps >.hiw-step > .hiw-step-arrow::after {
}
.benefits-section {}
.iconed-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.iconed-list  .iconed-list-item {
    position: relative;
    display: block;
    float: left;
    width: 33.33%;
    padding: 0;
    margin: 2px 0;
}
.iconed-list  .iconed-list-item-icon {
    font-size: 35px;
    position: absolute;
    top: 0;
    left: 4px;
    display: inline-block;
    line-height: 1px;
    color: mediumseagreen;
}
.iconed-list .iconed-list-content {
    padding-left: 60px;
}
.iconed-list .iconed-list-title {
    color: #374048;
    font-size: 20px;
    margin: 0;
    line-height: 20px;

}
.iconed-list .iconed-list-discription {
    color: #737c85;
    font-size: 15px;
    line-height: 20px;
}

.benefits-list {}
.benefits-list > .benefits-item {}
.benefits-list > .benefits-item > .benefits-item-icon {}
.benefits-list > .benefits-item > .benefits-item-content {}
.benefits-item > .benefits-item-content > .benefits-item-title{}
.benefits-item > .benefits-item-content > .benefits-item-discription {}

.wath-features-section {}
.wath-features-list {
    position: relative;
}
.wath-features-list:after {
    display: block;
    content: "";
    background: url("../img/apple-watch-3.png") center no-repeat;
    width: 283px;
    height: 510px;
    position: absolute;
    top: calc(50% - 510px / 2);
    left: calc(50% - 283px / 2);
}
.wath-features-list > .wath-features-list-item {
    margin: 30px 0;
}
.wath-features-list > .wath-features-list-item:nth-child(odd){
    margin-right: 16.666%;
}
.wath-features-list > .wath-features-list-item:nth-child(even){
    margin-left: 16.666%;
}

.section-collection {}
.product-collection-list {
    list-style: none;
    margin: 0;
    padding: 0;
    }
.product-collection-item {
    padding: 0 10px;
    width: 24%;
    float: left;
    text-align: center;
}
.product-collection-item > .item-image {
        width: 230px;
        height: 230px;
        padding: -10px;
    margin: 20px auto;
                             }
.product-collection-item > .item-title {
    color: green;
    font-size: 16px;
    line-height: 1;
    margin-bottom: 0;
}
.product-collection-item > .item-discription {
   color: #b4bcc3;
    font-size: 13px;
    line-height: 1;
    margin: 14px 0 20px;
}
.product-collection-item > .item-price {
    color: #9300FF;
}
.product-collection-item > .item-buttom {
    display: inline-block;
    color: #b4bcc3;
    font-size: 12px;
    line-height: 26px;
    border: 1px solid #e1e4e7;
    border-radius: 30px;
    cursor: pointer;
    padding: 2px 33px 0;

}
.product-collection-item > .item-buttom:hover {
    background-color: #f5f8fb;
}
.section-the-watch {}
.the-watch-content {
    display: inline-block;
    margin: 0 auto 20px;
    padding: 0;
    position: absolute;
    float: left;
}
.the-watch-content > .the-watch-title {
    color: #374048;
    text-align: left;

}
.the-watch-content> .the-watch-discription {
    text-align: left;
    color: #969da3;
    width: 500px;
}
.the-watch-content > .section-discription::after{
   left: 0;
}
.the-watch-list {
    color: #696f74;
}
.the-watch-item {
    position: relative;
    display: block;

    list-style: none;
    font-size: 22px;
    color: #696f74;
    vertical-align: middle;
    line-height: 39px;
    padding: 9px 0;

}
.the-watch-item:before {
    background: url("../img/check.png") center no-repeat;
    width: 32px;
    height: 32px;
    margin-right: 15px;
    content: '';
    float: left;
    margin-top: 2px;
}
.the-watch-image {
    display: block;
    height: auto;
    float: right;
    padding-right: 15px;
}
.section-aps {}
.every {
    display: block;
    margin: auto;
}
.every > .every-img {
    display: inline-block;
    width: 50%;
}
.every > .every-content {
    display: inline-block;
    width: 49%;
    text-align: left;
    line-height: 30px;

}
.every-title {
    color: #374048;
    font-size: 35px;
}
.every-discription {
    color: #c0cad0;
    font-size: 18px;
}
.every-img-png {
    width: 100%;
    margin: -10px;
}
.reviews-section {}
.reviews-list {
    list-style: none;
}
.reviews-list:before {
}
.reviews-list >.reviews-item {
    position: relative;
    display: block;
    float: left;
    text-align: center;
    width: 33.33%;
    padding: 0;
    margin: 2px 0;
    color: #353535;
    font-size: 17px;
}
.reviews-item > .reviews-discription {
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
    color: #82898f;
    font-size: 17px;
    line-height: 29px;
}
.reviews-img {
    color: #8a9095;
    opacity: 0.5;
}

.faq-section{}
.faq-list{
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}
.faq-list-item{
    padding: 0 0 30px;
    display: block;
    float: left;
    width: 50%;
}
.faq-list-item:nth-child(2n){
    padding-left: 20px;
}
.faq-title{
    margin: 0;
    padding: 0;
    color: #374048;
    font-size: 21px;
}
.faq-discription{
    color: #82898f;
    font-size: 16px;
    line-height: 20px;
}

.specs-section{}
.specs-section-list{
    margin: 0 0 50px;
    padding: 0;
    list-style: none;
    display: block;

}
.specs-section-list-item{
    padding: 20px 30px 0;
    width: 33.33%;
    display: block;
    float: left;
    height: 250px;
    border-top: solid 1px;
    border-color: greenyellow;
}
.specs-title{
    color: #374049;
    font-size: 22px;
}
.specs-discription{
    color: #82898f;
    font-size: 17px;
}


/*.tracking {
    top: 30px;
    left: -5px;
    position: absolute;
}
.analysis {
    top: 30px;
    left: -15px;
    position: absolute;
}
.security {
    top: 30px;
    left: -10px;
    position: absolute;
}
.idea {
    top: 30px;
    left: -5px;
    position: absolute;
}
.bills {
    top: 30px;
    left: -22px;
    position: absolute;
}
.technology {
    top: 30px;
    left: -15px;
    position: absolute;
}
.fa {
    color: blue;
}*/
